        /*
        css選擇器
        標籤名稱選擇器*/
        body {
            background-color: #CCC;
        }

        /*id 選擇器*/
        #first-head {
            color: green;
        }

        /*class選擇器*/
        .title {
            margin-bottom: 15px;
            font-size: 24px dashed red;
            font-weight: bold;
            background-color: gray;
        }

        .content {
            width: 50%;
            padding: 10px;
            border: 1px dashed blue;
        }

        .word {
            color: red;
        }

        .head {
            color: grey;
        }

        .underline {
            text-decoration: underline;
        }